body {
  margin: 0px;
  padding: 0px;
  background-color: #ede0d4;
}

/*navigation start*/
.navContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
}

.navigation {
  background-color: #ddbea9;
  display: grid;
  grid-column: 1/12;
  grid-row: 1/2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home {
  display: grid;
  grid-column: 3/5;
  align-items: center;
  width: 8vmin;
  font-size: 3.5vmin;
}

.aboutLink {
  display: grid;
  grid-column: 5/7;
  align-items: center;
  width: 9vmin;
  font-size: 3.5vmin;
}

.ideasLink {
  display: grid;
  grid-column: 7/9;
  align-items: center;
  width: 8vmin;
  font-size: 3.5vmin;
}

.aboutLink, .home, .ideasLink {
  font-family: Josefin Sans, sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  border-bottom: solid white 2px;
}

.active {
  color: white;
  border-bottom: solid white 2px;
}

/*navigation end*/
.aboutUs {
  background-image: url("Images/interior2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 8vmin;
  font-family: Josefin Sans, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

p {
  font-size: 3vmin;
  font-family: Quicksand, sans-serif;
  flex-direction: column;
  padding: 50px;
  width: 80vmin;
  line-height: 5vmin;
  font-weight: 500;
}

/*timeline code inspired by Lauren Chilcote https://codepen.io/letsbleachthis/pen/YJgNpv*/
.timeline {
  margin: auto;
  max-width: 100vmin;
  margin-bottom: 50px;
  background-color: #ede0d4;
  padding: 30px;
}

h4 {
  font-family: Quicksand, sans-serif;
  font-size: 3vmin;
  line-height: 4.5vmin;
  border-top: 3px solid black;
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  counter-increment: section;
  position: relative;
}

h4:nth-child(odd) {
  border-right: 3px dotted black;
  padding-left: 0;
  padding: 50px;
}

h4:nth-child(even) {
  border-left: 3px dotted black;
  padding-right: 0;
  padding: 50px;
}

h4:first-child {
  border-top: 0;
}

h1 {
  font-family: Josefin Sans, sans-serif;
  text-align: center;
}

.contactFooter {
  background-color: #e6ccb2;
}

h3 {
  font-family: Josefin Sans, sans-serif;
}

/*footer start*/
.contactFooter {
  background-color: #ddbea9;
  display: flex;
  justify-content: space-between;
}

.edenFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Josefin Sans, sans-serif;
  font-size: 4vmin;
  line-height: 6vmin;
  padding-left: 50px;
}

.aboutFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ideasFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.aboutFooter h3:first-of-type {
  text-decoration: underline;
  font-size: 3vmin;
}

.ideasFooter h3:first-of-type {
  text-decoration: underline;
  font-size: 3vmin;
}

.contact h3:first-of-type {
  text-decoration: underline;
  font-size: 3vmin;
}

.socialMedia img {
  padding: 5px;
}

/*footer end*/
