body {
  margin: 0px;
  padding: 0px;
  background-color: #ede0d4;
}

/*navigation start*/
.topSection {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 60px 300px 1fr;
}

.navigation {
  background-color: transparent;
  display: grid;
  grid-column: 1/12;
  grid-row: 1/2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home {
  display: grid;
  grid-column: 3/5;
  align-items: center;
  width: 8vmin;
  font-size: 3.5vmin;
}

.aboutLink {
  display: grid;
  grid-column: 5/7;
  align-items: center;
  width: 9vmin;
  font-size: 3.5vmin;
}

.ideasLink {
  display: grid;
  grid-column: 7/9;
  align-items: center;
  width: 8vmin;
  font-size: 3.5vmin;
}

.aboutLink, .home, .ideasLink {
  font-family: Josefin Sans, sans-serif;
}

.navigation a:link {
  text-decoration: none;
  color: black;
}

.navigation a:visited {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  border-bottom: solid white 2px;
}

.navigation .active {
  color: white;
  border-bottom: solid white 2px;
}
/*navigation end*/

.aboutUs {
  background-image: url("Images/interior2.jpg");
  background-size: cover;
  grid-area: 1/1/4/12;
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: white;
}

.aboutUs h2 {
  font-size: 8vmin;
  font-family: Josefin Sans, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.aboutUs p {
  font-size: 3vmin;
  font-family: Quicksand, sans-serif;
  flex-direction: column;
  padding: 50px;
  width: 80vmin;
  line-height: 5vmin;
  font-weight: 500;
}

/*timeline code inspired by Lauren Chilcote https://codepen.io/letsbleachthis/pen/YJgNpv*/
.timeline {
  margin: auto;
  max-width: 100vmin;
  margin-bottom: 50px;
  background-color: #ede0d4;
  padding: 30px;
}

h4 {
  font-family: Quicksand, sans-serif;
  font-size: 3vmin;
  line-height: 4.5vmin;
  border-top: 3px solid black;
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  counter-increment: section;
  position: relative;
}

h4:nth-child(odd) {
  border-right: 3px dotted black;
  padding-left: 0;
  padding: 50px;
}

h4:nth-child(even) {
  border-left: 3px dotted black;
  padding-right: 0;
  padding: 50px;
}

h4:first-of-type {
  border-top: 0;
}

h1 {
  font-family: Josefin Sans, sans-serif;
  text-align: center;
}

.botSection {
  background-color: #fff1e6;
}

.goalsSection {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.goalsImg {
  flex-direction: row;
}

.goalsDesc {
  padding: 50px;
  text-align: left;
  font-family: Josefin Sans, sans-serif;
  font-size: 4vmin;
  flex-direction: row;
  background-color: #fff1e6;
}

.goalsDesc h3 {
  font-family: Josefin Sans, sans-serif;
  text-align: left;
  font-size: 4vmin;
}

.goalsDesc, .commDesc p {
  font-family: Quicksand, sans-serif;
  font-size: 3vmin;
}

.commSection {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.commImg {
  flex-direction: row;
}

.commDesc {
  padding: 50px;
  text-align: left;
  font-family: Josefin Sans, sans-serif;
  font-size: 4vmin;
  flex-direction: row;
  background-color: #fff1e6;
}

.commDesc h3 {
  font-family: Josefin Sans, sans-serif;
  text-align: left;
  font-size: 4vmin;
}

/*footer start*/
.contactFooter {
  background-color: #ddbea9;
  display: flex;
  justify-content: space-between;
}

.edenFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Josefin Sans, sans-serif;
  font-size: 4vmin;
  line-height: 6vmin;
  padding-left: 50px;
}

.aboutFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ideasFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.socialMedia img {
  padding: 5px;
}

.contactFooter h3 {
    font-family: Quicksand, sans-serif;
}

.contactFooter a:link {
  text-decoration: none;
  color: black;
}

.contactFooter a:visited {
  color: black;
  text-decoration: none;
}

.contactFooter a:hover {
  color: white;
  text-decoration: none;
}

.contactFooter .active {
  color: white;
}

h2 {
  font-family: Josefin Sans, sans-serif;
}
/*footer end*/

.divide {
  height: 20vmin;
  background-color: #ddbea9;
  align-items: center;
}

.divide h1 {
  padding: 50px;
  margin: 0;
  font-size: 5vmin;
}
